.Node-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left:5vw;
  margin-right:5vw;
  max-width:max(30vw,500px);
}
.modal{
  display: flex;
  flex-direction:row;
  justify-content:center;
  width:100%;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
/* remove button styes */

/*.Node fade in slowly*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Node {
  width: 100%;
  height: 100%;
  color: white;
  opacity: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  transform: scale(1);
  transition: transform 0.2s;
  gap:30px;
  -webkit-transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transform: scale(1);
  -moz-transition: -moz-transform 0.2s;
  -o-transform: scale(1);
  -o-transition: -o-transform 0.2s;
  -ms-transform: scale(1);
  -ms-transition: -ms-transform 0.2s;
}
.Node:hover {
  /* scale larger with animation*/
  // transform: scale(1.05);
  // transition: transform 0.2s ease-in;
  // -o-transform: scale(1.05);
  // -o-transition: -o-transform 0.2s ease-in;
  // -ms-transform: scale(1.05);
  // -ms-transition: -ms-transform 0.2s ease-in;
  // -moz-transform: scale(1.05);
  // -moz-transition: -moz-transform 0.2s ease-in;
  // -webkit-transform: scale(1.05);
  // -webkit-transition: -webkit-transform 0.2s ease-in;
}
.children {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.clicked{
  background-color: #ffffff1d;
  box-shadow: 0 0 0 0.2rem #ffffff01;
}
.Node-clicked {
  width: clamp(100px, 33.3333%, 1000px);
  color: white;
  margin-bottom: 100px;
  opacity: 0;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
  outline: none;
  cursor: pointer;
  border: 10px solid;
  border-color: transparent white transparent transparent;
}
.name-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 600;
  color: #ffffff;
}
.description {
  font-size: clamp(8px, 1.7vw, 15px);
  text-align: center;
  font-weight: 500;
  line-height: 1.6;
}
.date{
  font-size: clamp(8px, 1.7vw, 15px);
  text-align: center;
  font-weight: 600;
  line-height: 1.6;

}